/* PasswordForm.css */
.password-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
}

.password-navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.password-navbar-links {
  display: flex;
  gap: 20px;
  align-items: center; /* Center vertically */
}

.password-navbar-link {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px; /* Adjust padding */
  border-radius: 6px;
  transition: background-color 0.4s ease;
}

.password-nav-logout {
  background-color: #007bff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.password-nav-logout:hover {
  background-color: red;
}

.password-nav-view:hover {
  background-color: #0056b3;
}

.password-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.password-form {
  width: 400px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}


.password-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.password-form form {
  display: flex;
  flex-direction: column;
}

.password-label {
  margin-bottom: 20px;
}

.password-input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 95.5%;
}

.password-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  margin-top: 15px;
  outline: 2px solid #007bff; /* Add outline color */
  background-color: white;
  color: #007bff;

}

.password-button:hover {
  background-color: #0056b3;
  color: white;
  font-size: 16px;
}

.password-error {
  color: red;
  margin-top: 10px;
}

.password-success {
  color: green;
  margin-top: 10px;
}

