/* passwordList.css */

/* Navbar */
.password-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
}

.password-navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.password-navbar-links {
  display: flex;
  gap: 20px;
  align-items: center; /* Center vertically */
}

.password-navbar-link {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px; /* Adjust padding */
  border-radius: 6px;
  transition: background-color 0.4s ease;
}

.password-nav-logout {
  background-color: #007bff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.password-nav-logout:hover {
  background-color: red;
}

.password-list-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Sidebar */
.password-list-sidebar {
  width: 300px;
  background-color: #252d38;
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  margin-bottom: 15px;
}

.sidebar-link {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  transition: opacity 0.3s;
  padding: 10px 0px;
}

.sidebar-link:hover {
  opacity: 0.8;
}

.sidebar-icon {
  margin-right: 10px;
}

.sidebar-link.my-vault {
  color: #007bff;
}

/* Main Content */
.password-list-main {
  display: flex; /* Add this line */
  flex-direction: row;
  padding: 20px;
  background-color: #111419;
  width: 350px;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: hidden;
}

.passwords-list {
  margin: 0; /* Remove the default margin */
  flex: 1; /* Take up available space */
  list-style: none;
  padding: 0;
  margin: 0;
}

.password-entry {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  color: white;
}

.password-entry:hover {
  opacity: 0.5;
}



.item-information {
  flex: 1; /* Take up available space */
  background-color: #252d38;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: white;
}

.item-title {
  font-size: 1rem;
  margin-bottom: 10px;
}

.item-info-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.info-label {
  width: 100px;
  margin-right: 10px; /* Spacing between label and input */
}

.info-input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.info-input-container input {
  padding: 10px;
  background-color: #252d38;
  border: none;
  border-bottom: 1px solid black;
  
}

.info-input-row {
  display: flex;
  align-items: flex-start; /* Align input to the left */
  width: 100%; /* Fill the available width */
}

.info-input {
  padding: 10px;
  border: none;
  background-color: #1c222b;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 5px;
  width: 100%; 
  
}


.password-entry.selected {
  border: solid 1px blue;
}

.password-entry.selected .additional-info {
  display: block;
}