/* SignUp.css */

.signup-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
}

.signup-navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.signup-navbar-links {
  display: flex;
  gap: 20px;
  align-items: center; /* Center vertically */
}

.signup-navbar-link {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px; /* Adjust padding */
  border-radius: 6px;
  transition: background-color 0.4s ease;
}

.signup-navbar-link.signup-nav-current-page {
  background-color: #0056b3; /* Apply suitable background color */
}

.signup-nave-other-page:hover {
  opacity: 0.6;
  background-color: black;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.signup-form {
  width: 400px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); /* Add box shadow */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Add transition */
  border: none;
}

.signup-form:hover {
  transform: translateY(-5px); /* Apply a slight translateY on hover */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Adjust the box shadow on hover */
  border: 1px solid blue;
}

.signup-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-form form {
  display: flex;
  flex-direction: column;
}

.signup-label {
  margin-bottom: 5px;
}

.signup-input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 95.5%;
}

.signup-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  outline: 2px solid #007bff; /* Add outline color */
  background-color: white;
  color: #007bff;
}

.signup-button:hover {
  background-color: #0056b3;
  color: white;
  font-size: 16px;
}

.signup-alert {
  color: red;
}
